#Footer1_0 .ant-col > .slogan > .knc0k6yo4uo-editor_css {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
}
#Footer1_0 .footer1 > .knc0jw0u3y-editor_css {
  justify-content: center;
}
#Footer1_0 div > div > .knc0scwu19-editor_css {
  display: flex;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  margin: 0px 0px;
}
#Banner5_0.knc1it43f2n-editor_css {
}
#Banner5_0 .home-page > .banner5-title-wrapper > .knc1jskhs9-editor_css {
  height: 100%;
}
